@font-face {
    font-family: 'Circular';
    src: url('/portfolio/fonts/CircularSpotifyTxTBlack.eot');
    src: url('/portfolio/fonts/CircularSpotifyTxTBlack.eot') format('embedded-opentype'),
         url('/portfolio/fonts/CircularSpotifyTxTBlack.woff2') format('woff2'),
         url('/portfolio/fonts/CircularSpotifyTxTBlack.woff') format('woff'),
         url('/portfolio/fonts/CircularSpotifyTxTBlack.ttf') format('truetype'),
         url('/portfolio/fonts/CircularSpotifyTxTBlack.svg#CircularSpotifyTxTBlack') format('svg');
}
